## Get CPU coodrinates

In [54]:
import scipy.io as sio
import pandas as pd
import numpy as np

In [12]:
path ='./RealData/real_traces/SBOX_traces2019-11-10_19_51_35/cords/cord_5000.mat'

In [59]:
def concatDataLabel(path):
    mats = []
    mats = sio.loadmat(path, verify_compressed_data_integrity=False)
    return(mats)

In [60]:
myCords = concatDataLabel(path)

In [63]:
test = pd.DataFrame(myCords['data'])

In [77]:
test[90:93]

                              0            1
90  [[-107844, 155156, -97000]]  [spot_4_10]
91  [[-105318, 155156, -97000]]  [spot_4_11]
92  [[-102792, 155156, -97000]]  [spot_4_12]

In [26]:
test = sio.loadmat(path, verify_compressed_data_integrity=False)

In [48]:
pd.DataFrame(test['data'][2]).transpose()

                             0           1
0  [[-117948, 144000, -97000]]  [spot_0_2]